<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template ::header}">
</head>
<body>
<div th:replace="~{template ::footer}">
</div>
<script>
    var userStore = Ext.create('Ext.data.Store', {
        storeId: 'UserStore',
        fields: ['realName', 'account', 'nickname','userId'],
        proxy:{
            type:'ajax',
            url:'/user/userList',
            reader:{
                type:'json',
                root:'users'
            },
        },
        autoLoad:true
    });
    Ext.create('Ext.grid.Panel', {
        title: 'Users',
        store: Ext.data.StoreManager.lookup('UserStore'),
        columns: [{
            text: 'realName',
            dataIndex: 'realName'
        }, {
            text: 'account',
            dataIndex: 'account',
            flex: 1
        },
            {
                text: 'id',
                dataIndex: 'userId',
                flex: 1
            },{
            text: 'nickname',
            dataIndex: 'nickname'
        }],
        height: window.screen.height,
        width: window.screen.width,
        renderTo: Ext.getBody()
    });
</script>
</body>
</html>